nav{
    background-color: #27323E;
    max-width: 1280x;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    gap: 0 30px;
}

nav > ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0 20px;
    font-size: 20px;
    font-family: sans-serif;
    max-width: 90px;
    height: 30px;
    width: 100%;
}
li > a{
    color: #ffffff;
    text-decoration: none;
    max-width: 90px;
    height: 30px;
    width: 100%;
}
li{
    list-style: none;
    gap: 0 20px;
    font-family: sans-serif;
    border-radius: 30px;
    max-width: 90px;
    height: 30px;
    width: 100%;
}
.active{
    border-radius: 1px solid #fff;
    transform: scale(1.2);
    transition: 0.9s;
    max-width: 90px;
    height: 30px;
    width: 100%;
}
li  a:hover{
    color: hwb(272 18% 10% / 0.584);
    cursor: pointer;
    border: 1px solid hwb(272 18% 10%);
    background-color: #daefd3;
    border-radius: 5px;
    box-shadow: #daefd3 0 0 10px; 
    transform: scale(1.2);
    transition: 1s;
    max-width: 100px;
    height: 30px;
    width: 100%;

}   

.Logo{
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
.nav__link{
    transform: scale(1.2);
}
.nav__link:hover{   
    transform: scale(1.2);
    transition: 1s;
    max-width: 100px;
    height: 30px;
    width: 100%;
}


.Btn{
    max-width: 90px;
    height: 30px;
    width: 100%;
    border-radius: 30px;
    background-color: #27323E;
    color: #ffffff;
    border:1px solid #ffffff;
}
.nav__btn{
    max-width: 200px;
    width: 100%;
    display: flex;
    gap: 0 20px;
}
.nav__btns{
    text-decoration: none;
    color: rgba(144, 46, 230, 0.584);
    font-family: sans-serif;
    max-width: 90px;
    height: 30px;
    width: 100%;
}
.Btn:hover{
    color: rgba(144, 46, 230, 0.584);
    cursor: pointer;
    border: 1px solid hwb(272 18% 10%);
    background-color: #daefd3;
    border-radius: 5px;
    box-shadow: #daefd3 0 0 10px; 
    border-radius: 30px;
    transform: scale(1.2);
    transition: 1s;
}
